<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FacePlus++</title>


    <link href="../static/css/css1.css" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--d<link href="/../css/font-awesome.min.css" rel="stylesheet" />-->
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-bottom:0;background-color:#7386D5">
        <!-- Brand -->

        <a class="navbar-brand" href="index.html">
            <img src="../static/ref/logo1.jpg" style="width:40px;height:40px;border:solid;border-radius:10%" />
            <strong> FacePlus++ </strong>for Student
        </a>


        <ul class="navbar-nav " style="margin-left:75%">

            <!-- Dropdown User -->
            <li class="nav-item dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    User
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        My account
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        Account Setting
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>


    </nav>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>

            <ul class="list-unstyled components">

                <li class="active">
                    <a href="index.html">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                </li>

                <li class="active">
                    <a href="diemdanh.html">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        Attendance
                    </a>
                </li>

                <li class="active">
                    <a href="regis.html">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        Registration
                    </a>
                </li>
                <li class="active">
                    <a href="train.html">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Training
                    </a>
                </li>
                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>Toggle Menu</span>
                    </button>

                </div>
            </nav>

            <div id="reg">
                <h2 style="margin-top: 40px">Attendence</h2>
                <br />
                
                <video autoplay playsinline id="video"></video><br />
                <button id="btn-start" class="btn btn-primary">Take a photo</button>
                <script>
                    const video = document.getElementById('video');
                    navigator.mediaDevices.getUserMedia({
                        video: true,
                        audio: false
                    }).then(function (camera) {
                        // Preview camera
                        video.muted = true;
                        video.srcObject = camera;

                        // Recording configuration/hints/parameters
                        var recordingHints = {
                            type: 'video',
                            mimeType: 'video/webm;codecs=h264'
                        };

                        // Initiate the recorder
                        var recorder = RecordRTC(camera, recordingHints);

                        // Start recording when button is clicked
                        document.getElementById('btn-start').onclick = function () {
                            this.disabled = true;

                            // Start recording
                            recorder.startRecording();

                            // Auto stop recording after 5 seconds
                            setTimeout(function () {
                                // Stop recording
                                recorder.stopRecording(function () {
                                    // Get recorded blob
                                    var blob = recorder.getBlob();

                                    // Open recorded blob in a new window
                                    //window.open(URL.createObjectURL(blob));

                                    // Release camera
                                    video.srcObject = null;
                                    camera.getTracks().forEach(function (track) {
                                        track.stop();
                                    });

                                    // Upload?
                                    var formdata = new FormData();
                                    formdata.append('studentid', document.getElementById('mssv').value);
                                    formdata.append('video', blob);
                                    $.ajax({
                                        type: 'POST',
                                        url: '/register',
                                        data: formdata,
                                        processData: false,
                                        contentType: false
                                    }).done(function (data) {
                                        console.log(data);
                                    })
                                });
                            }, 3000);
                        }
                    })
                </script>
            </div>


        </div>
    </div>

    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>