<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FacePlus++</title>

    <link href="../static/css/css1.css" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-bottom:0;background-color:#7386D5">
        <!-- Brand -->

        <a class="navbar-brand" href="index.html">
            <img src="../static/ref/logo1.jpg" style="width:40px;height:40px;border:solid;border-radius:10%" />
            <strong> FacePlus++ </strong>for Admin
        </a>
    </nav>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="/admin">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                </li>
                <li class="active">
                    <a href="/error">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Potential errors
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>Toggle Menu</span>
                    </button>
                </div>
            </nav>

            <div id="search">
                <h2 style="margin-top: 40px">Potential errors</h2>
                <br />
                <div id="search-content">

                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <script type="text/javascript">
        var _button = document.getElementById("btn-start");
        _button.onclick = function () {
            this.disabled = true;
            $.ajax({
                type: 'GET',
                url: '/train',
            }).done(function (data) {
                var resp = JSON.parse(data);
                if (resp.status == 0) { // Success
                    var d = document.createElement('div');
                    d.classList.add('alert');
                    d.classList.add('alert-success');
                    d.setAttribute('role', 'alert');
                    d.innerText = resp.message;

                    _button.parentNode.insertBefore(d, _button.nextSibling);
                } else { // Error
                    var d = document.createElement('div');
                    d.classList.add('alert');
                    d.classList.add('alert-danger');
                    d.setAttribute('role', 'alert');
                    d.innerText = resp.message;
                    d.innerText += " Reloading in 3 seconds.";

                    _button.parentNode.insertBefore(d, _button.nextSibling);

                    setTimeout(function() {
                        location.reload();
                    }, 3000);
                }
                $('#return_alert').html(data).show();
            });
        }
    </script>
</body>

</html>