<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FacePlus++</title>


    <link href="../static/css/css1.css" rel="stylesheet" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--d<link href="/../css/font-awesome.min.css" rel="stylesheet" />-->
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-bottom:0;background-color:#7386D5">
        <!-- Brand -->

        <a class="navbar-brand" href="register">
            <img src="../static/ref/logo1.jpg" style="width:40px;height:40px;border:solid;border-radius:10%" />
            <strong> FacePlus++ </strong>for Student
        </a>


        <ul class="navbar-nav " style="margin-left:75%">

            <!-- Dropdown User -->
            <li class="nav-item dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    User
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        My account
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        Account Setting
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>


    </nav>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>

            <ul class="list-unstyled components">

                <li class="active">
                    <a href="register">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                </li>

                <li class="active" >
                    <a href="att.html">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        Attendance
                    </a>
                </li>

                <li class="active">
                    <a href="reg.html">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        Registration
                    </a>
                </li>
                <li class="active">
                    <a href="search.html" >
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search
                    </a>
                </li>
                <li class="active">
                    <a href="setting.html" >
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        Setting
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>Toggle Menu</span>
                    </button>

                </div>
            </nav>

            <div id="home">
                <h2 style="margin-top: 40px">Home</h2>
                <br />
                <div id="home-content">

                    <div class="row" style="margin-bottom:30px">
                        <div class="col-sm-6">
                            <div class="card">
                                <img class="card-img-top" src="../static/ref/banner_att.jpg" alt="Card image">
                                <div class="card-body">
                                    <h5 class="card-title">Attendance</h5>
                                    <p class="card-text">Used to take attendance when the teacher asks</p>
                                    <a href="att.html" class="btn btn-primary">Go </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <img class="card-img-top" src="../static/ref/thumbnail_Registering-Business (1).jpg" alt="Card image">
                                <div class="card-body">
                                    <h5 class="card-title">Registration</h5>
                                    <p class="card-text">Used to register when not listed in the list</p>
                                    <a href="reg.html" class="btn btn-primary">Go </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <img class="card-img-top" src="../static/ref/search-engines.jpg" alt="Card image">
                                <div class="card-body">
                                    <h5 class="card-title">Search</h5>
                                    <p class="card-text">Look up student information</p>
                                    <a href="search.html" class="btn btn-primary">Go </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>