<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FacePlus++</title>


    <link href="../css/css1.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--d<link href="/../css/font-awesome.min.css" rel="stylesheet" />-->
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-bottom:0;background-color:#7386D5">
        <!-- Brand -->

        <a class="navbar-brand" href="index.html">
            <img src="../ref/logo1.jpg" style="width:40px;height:40px;border:solid;border-radius:10%" />
            <strong> FacePlus++ </strong>for Student
        </a>


        <ul class="navbar-nav " style="margin-left:75%">

            <!-- Dropdown User -->
            <li class="nav-item dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    User
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        My account
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        Account Setting
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>


    </nav>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
            </div>

            <ul class="list-unstyled components">

                <li class="active">
                    <a href="index.html">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Home
                    </a>
                </li>

                <li class="active">
                    <a href="diemdanh.html">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        Attendance
                    </a>
                </li>

                <li class="active">
                    <a href="reg.html">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        Registration
                    </a>
                </li>
                <li class="active">
                    <a href="search.html">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search
                    </a>
                </li>
                <li class="active">
                    <a href="setting.html">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        Setting
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <span>Toggle Menu</span>
                    </button>

                </div>
            </nav>

            <div id="search">
                <h2 style="margin-top: 40px">Search</h2>
                <br />
                <div id="search-content">
                    <form action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <br />
                    <?php while($info = mysqli_fetch_array($result1) ): ?>
                    <form class="form" action="/action_page.php">
                        <label for="name">Yourname: </label>
                        <?php echo $info['name']; ?>
                        <br />
                        <label for="stid">Student ID: </label>
                        <?php echo $info['stid']; ?>
                    </form>
                    <?php endwhile; ?>
                    <br />
                    <table class="table table-bordered table-hover">
                        <thead class="thead-dark">
                        <th>Chọn</th>
                        <th>Mã môn học </th>
                        <th>Tên môn học </th>
                        <th>Thời gian học</th>
                        <th>Địa điểm</th>
                        </thead>
                        <?php while($info2 = mysqli_fetch_array($result2) ): ?>
                        <tbody>
                            <tr>
                                <td> <input type="checkbox" name="monthi" /> </td>
                                <td> <?php echo $info2['subcode'];  ?> </td>
                                <td> <?php echo $info2['subject']; ?> </td>
                                <td> <?php echo $info2['time']; ?> </td>
                                <td> <?php echo $info2['location']; ?> </td>
                                <?php endwhile; ?>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

    <script src="../js/popper.min.js"></script>
    <script src="../js/jquery-3.3.1.slim.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>